@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: font-url('MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       font-url('MaterialIcons-Regular.woff2') format('woff2'),
       font-url('MaterialIcons-Regular.woff') format('woff'),
       font-url('MaterialIcons-Regular.ttf') format('truetype'),
       font-url('MaterialIcons-Regular.svg') format('svg');
}

%icon {
  font-family: 'Material Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 24px;
  text-transform: none;
  line-height: 1;
  display: block;
  word-wrap: normal;
  white-space: normal;
  padding-top: 5px;
  padding-bottom: 10px;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

%icon-success-sign {
  @extend %icon;
  content: "check_circle";
}

%icon-info-sign {
  @extend %icon;
  content: "info";
}

%icon-warning-sign {
  @extend %icon;
  content: "warning";
}

%icon-danger-sign {
  @extend %icon;
  content: "error";
}

%icon-search {
  @extend %icon;
  content: "search";
  font-size: 18px;
  line-height: .3;
}
